<div class="counter">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex align-items-center gap-3 justify-content-center">
          <img src="./images/store.png" alt="vector" />
          <h4>268</h4>
        </div>
        <p class="opacity-50 text-center">Our stores around thr world</p>
      </div>
      <div class="col-md-4">
        <div class="d-flex align-items-center gap-3 justify-content-center">
          <img src="./images/customer.png" alt="vector" />
          <h4>25,634</h4>
        </div>
        <p class="opacity-50 text-center">Our happy customers</p>
      </div>
      <div class="col-md-4">
        <div class="d-flex align-items-center gap-3 justify-content-center">
          <img src="./images/books.png" alt="vector" />
          <h4>68+k</h4>
        </div>
        <p class="opacity-50 text-center">Book collection</p>
      </div>
    </div>
  </div>
</div>
