<div class="container">
  <div class="top">
    <h1>Books</h1>
    <span>Over 475+ books available here, find it now!</span>
  </div>
  <div class="books">
    @for(books of books ;track books.id){
    <div class="item">
      <a href="{{ books.book_id }}">
        <div class="image-container">
          <div class="filter"></div>
          <div>
            <img class="im" src="{{ books.image }}" />
          </div>
          <div class="icon">
            <img src="btnAddtoCart.png" alt="" />
          </div>
        </div>
      </a>
      <div class="star">
        <img src="star.png" alt="" />
        <h5>4.7</h5>
        <h5>166 reviews</h5>
      </div>
      <h3 class="AD">{{ books.category }}</h3>
      <i class="icon fas fa-search"></i>
      <h2>{{ books.name }}</h2>
      <h6 class="hh">{{ books.author }}</h6>
      <h3 class="itemh3">${{ books.price }}</h3>
    </div>
    }
  </div>
</div>

<div class="features">
  <div class="q">
    <div>
      <img src="icon.png" alt="" />
      <h3>Quick Delivery</h3>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
    <div>
      <img src="icon2.png" alt="" />

      <h3>Secure Payment</h3>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
    <div>
      <img src="icon3.png" alt="" />

      <h3>Best Quality</h3>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
    <div>
      <img src="icon4.png" alt="" />

      <h3>Return Guarantee</h3>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </span>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="tes">
    <h2>Testimonials</h2>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua
    </h6>
    <div class="jj">
      <img src="123.png" alt="" />
      <img src="123.png" alt="" />
      <img src="123.png" alt="" />
      <img src="123.png" alt="" />
      <img src="others.png" alt="" />
    </div>
  </div>
  <img class="cards" src="cards.png" alt="" />
</div>

<div class="mask">
  <span>Subscribe our newsletter for newest books updates</span>
  <div>
    <input type="text" placeholder="Type your email here" />
    <button type="submit">SUBSCRIBE</button>
  </div>
</div>
