<nav class="navbar nav-container navbar-expand-lg bg-body-tertiary nav">
  <div class="container-fluid align-items-start">
    <a class="navbar-brand" routerLink="/home">
      <img src="/images/logo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarScroll"
    >
      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active-link"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/books"
            routerLinkActive="active-link"
          >
            Books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">
            Cart
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/books"
            routerLinkActive="active-link"
          >
            Best seller
          </a>
        </li>
      </ul>
    </div>
    <!--  display cart and profile -->
    @if (isAuthenticated) {
    <div class="auth-buttons">
      <div class="d-flex align-items-center">
        <a routerLink="cart">
          <img
            style="height: 1.2rem; width: 1.2rem"
            src="./images/basket.png"
            alt=""
          />
        </a>
      </div>
      <a routerLink="profile" class="profile">
        <i class="fa-solid fa-circle-user"></i>
      </a>
      <!-- logout button start -->
      <button type="button" class="btn btn-danger logout" (click)="onLogout()">
        Logout
      </button>
      <!-- logout button end -->
    </div>
    }

    <!--  display login and signup buttons -->
    @if (!isAuthenticated) {
    <div class="auth-buttons">
      <button
        routerLink="/login"
        type="button"
        class="btn buttons login-button"
      >
        Sign in
      </button>
      <button
        routerLink="/signup"
        type="button"
        class="btn buttons create-button"
      >
        Create account
      </button>
    </div>
    }
  </div>
</nav>
