<div class="features py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <img
          src="/images/icon.png"
          alt="Quick Delivery"
          class="img-fluid mb-2"
        />
        <h3>Quick Delivery</h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <img
          src="/images/icon2.png"
          alt="Secure Payment"
          class="img-fluid mb-2"
        />
        <h3>Secure Payment</h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <img
          src="/images/icon3.png"
          alt="Best Quality"
          class="img-fluid mb-2"
        />
        <h3>Best Quality</h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <img
          src="/images/icon4.png"
          alt="Return Guarantee"
          class="img-fluid mb-2"
        />
        <h3>Return Guarantee</h3>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
