<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3><img src="/images/logo.png" alt="logo" /></h3>
      <p>
        An online bookstore website that sells all genres of books from around
        the world. Find your book here now
      </p>
    </div>

    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul class="footer-links">
        <li><a>About us</a></li>
        <li><a>Contact us</a></li>
        <li><a>Products</a></li>
        <li><a>Login</a></li>
        <li><a>Sign Up</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Customer Area</h4>
      <ul class="footer-links">
        <li><a>My Account</a></li>
        <li><a>Orders</a></li>
        <li><a>Trading List</a></li>
        <li><a>Terms</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>FAQ</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Don’t miss the newest books</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut
      </p>
      <div class="newsletter">
        <input type="email" placeholder="Type your email here" />
        <button>Subscribe</button>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>CLEVR © 2020 All Rights Reserved</p>
  </div>
</footer>
