<div class="news-section container my-5">
  <h1 class="mb-4 text-center" style="font-weight: bold">Latest News</h1>
  <p class="lead mb-5 text-center w-50 mx-auto opacity-75">
    Our company is making significant progress, focusing on innovation and
    quality. We are committed to enhancing efficiency and delivering exceptional
    services to our customers.
  </p>

  <div class="row">
    <!-- News Item 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="rounded-2 overflow-hidden mb-2" style="height: 350px">
            <img
              class="w-100"
              src="./images/book2.jpg"
              alt=""
              style="object-fit: cover"
            />
          </div>
          <h5 class="card-title">Why reading is important for our children?</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore...
          </p>
        </div>
        <div class="card-footer d-flex align-items-center gap-2">
          <div
            class="rounded-circle overflow-hidden"
            style="height: 60px; width: 60px"
          >
            <img
              class=""
              src="./images/person.jpg"
              alt="person"
              style="height: 60px; width: 60px; object-fit: cover"
            />
          </div>
          <div>
            <p class="text-muted">James Wong</p>
            <span class="date">1 August 2020</span>
          </div>
        </div>
      </div>
    </div>

    <!-- News Item 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="rounded-2 overflow-hidden mb-2" style="height: 350px">
            <img
              class="w-100"
              src="./images/book4.jpg"
              alt=""
              style="object-fit: cover"
            />
          </div>
          <h5 class="card-title">
            Benefits of reading: Smart, Diligent, Happy
          </h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore...
          </p>
        </div>
        <div class="card-footer d-flex align-items-center gap-2">
          <div
            class="rounded-circle overflow-hidden"
            style="height: 60px; width: 60px"
          >
            <img
              class=""
              src="./images/person.jpg"
              alt="person"
              style="height: 60px; width: 60px; object-fit: cover"
            />
          </div>
          <div>
            <p class="text-muted">James Wong</p>
            <span class="date">1 August 2020</span>
          </div>
        </div>
      </div>
    </div>

    <!-- News Item 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="rounded-2 overflow-hidden mb-2" style="height: 350px">
            <img
              class="w-100"
              src="./images/book3.jpg"
              alt=""
              style="object-fit: cover"
            />
          </div>
          <h5 class="card-title">What books you should read in 2020?</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore...
          </p>
        </div>
        <div class="card-footer d-flex align-items-center gap-2">
          <div
            class="rounded-circle overflow-hidden"
            style="height: 60px; width: 60px"
          >
            <img
              class=""
              src="./images/person.jpg"
              alt="person"
              style="height: 60px; width: 60px; object-fit: cover"
            />
          </div>
          <div>
            <p class="text-muted">James Wong</p>
            <span class="date">1 August 2020</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <a href="/books" class="view-more"
      >View more
      <img
        src="./images/arrow-right.png"
        alt="arrow-right"
        style="margin-left: 10px"
      />
    </a>
  </div>
</div>
